<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SITE NAME | JEWELRY </title>
     <link rel="stylesheet" type="text/css" href="/Shop.Web\wwwroot\css\stylekids.css"/>
</head>
<body>
    <h2 class="sitename">SITE NAME</h2>
    <div class="container">
        <nav>
            
            <ul>
                
                <li><a href="#">WHAT'S NEW</a></li>
                <li><a href="#">WOMEN</a></li>
                <li><a href="#">MEN</a></li>
                <li><a href="#">CHILDREN</a></li>
                <li><a href="#">JEWELRY</a></li>
                
            </ul>
        </nav>
    </div>

    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="col">
                    <section class="card">
                        <div class="card-header">
                        </div>
                        <div class="card-image">
                            <img src="~/product1women.avif" alt="">
                        </div>
                        <div class="card-body">
                            <span class="card-price">250$</span>
                            <p></p>
                            <a href="#" class="btn card-button">BUY NOW</a>
                        </div>
                    </section>
                    <section class="card">
                        <div class="card-header">
                        </div>
                        <div class="card-image">
                            <img src="~/product6women.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <span class="card-price">250$</span>
                            <p></p>
                            <a href="#" class="btn card-button">BUY NOW</a>
                        </div>
                    </section><section class="card">
                        <div class="card-header">
                        </div>
                        <div class="card-image">
                            <img src="~/product5women.avif" alt="">
                        </div>
                        <div class="card-body">
                            <span class="card-price">250$</span>
                            <p></p>
                            <a href="#" class="btn card-button">BUY NOW</a>
                        </div>
                    </section><section class="card">
                        <div class="card-header">
                        </div>
                        <div class="card-image">
                            <img src="~/product2women.avif" alt="">
                        </div>
                        <div class="card-body">
                            <span class="card-price">250$</span>
                            <p></p>
                            <a href="#" class="btn card-button">BUY NOW</a>
                        </div>
                    </section><section class="card">
                        <div class="card-header">
                        </div>
                        <div class="card-image">
                            <img src="~/product3women.avif" alt="">
                        </div>
                        <div class="card-body">
                            <span class="card-price">250$</span>
                            <p></p>
                            <a href="#" class="btn card-button">BUY NOW</a>
                        </div>
                    </section><section class="card">
                        <div class="card-header">
                        </div>
                        <div class="card-image">
                            <img src="~/product7women.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <span class="card-price">250$</span>
                            <p></p>
                            <a href="#" class="btn card-button">BUY NOW</a>
                        </div>
                    </section><section class="card">
                        <div class="card-header">
                        </div>
                        <div class="card-image">
                            <img src="~/product4women.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <span class="card-price">250$</span>
                            <p></p>
                            <a href="#" class="btn card-button">BUY NOW</a>
                        </div>
                    </section><section class="card">
                        <div class="card-header">
                        </div>
                        <div class="card-image">
                            <img src="~/product8women.avif" alt="">
                        </div>
                        <div class="card-body">
                            <span class="card-price">250$</span>
                            <p></p>
                            <a href="#" class="btn card-button">BUY NOW</a>
                        </div>
                    </section><section class="card">
                        <div class="card-header">
                        </div>
                        <div class="card-image">
                            <img src="~/product9women.avif" alt="">
                        </div>
                        <div class="card-body">
                            <span class="card-price">250$</span>
                            <p></p>
                            <a href="#" class="btn card-button">BUY NOW</a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>