<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SITE NAME | WHAT'S NEW </title>
     <link rel="stylesheet" type="text/css" href="/Shop.Web\wwwroot\css\stylenew.css"/>
</head>
<body>
    <h2 class="sitename">SITE NAME</h2>
    <div class="container">
        <nav>
            
            <ul>
                
                <li><a href="#">WHAT'S NEW</a></li>
                <li><a href="#">WOMEN</a></li>
                <li><a href="#">MEN</a></li>
                <li><a href="#">CHILDREN</a></li>
                <li><a href="#">JEWELRY</a></li>
                
            </ul>
        </nav>
    </div>

    <div>
        <section class="blog">
            <div class="blog-container">
                <div class="blog-img">
                    <img src="/Shop.Web\wwwroot/face-img.png" alt="">
                </div>
                <div class="blog-content">
                    <h3 class="blog-title">Title Content Here</h3>
                    <p class="blog-text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur enim, officiis veniam odio quis qui ipsam quo iure voluptate, at dolorum! In voluptates adipisci temporibus impedit laborum veritatis quae deserunt!Lorem
                        ipsum dolor sit amet consectetur adipisicing elit. Consequuntur enim, officiis veniam odio quis qui ipsam quo iure voluptate, at dolorum! In voluptates adipisci temporibus impedit laborum veritatis quae deserunt!Lorem
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus nisi laudantium consectetur eum mollitia! Ut ullam accusantium pariatur a sed! Excepturi ad sequi sit, ea cupiditate ratione laboriosam alias dolore?
                    </p>
                    <div class="blog-actions">
                        <a href="#">Read more</a>
                    </div>
                </div>
                </div>
        </section>

        <section class="blog">
            <div class="blog-container">
               
                <div class="blog-content">
                    <h3 class="blog-title">Title Content Here</h3>
                    <p class="blog-text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur enim, officiis veniam odio quis qui ipsam quo iure voluptate, at dolorum! In voluptates adipisci temporibus impedit laborum veritatis quae deserunt!Lorem
                        ipsum dolor sit amet consectetur adipisicing elit. Consequuntur enim, officiis veniam odio quis qui ipsam quo iure voluptate, at dolorum! In voluptates adipisci temporibus impedit laborum veritatis quae deserunt!Lorem
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus nisi laudantium consectetur eum mollitia! Ut ullam accusantium pariatur a sed! Excepturi ad sequi sit, ea cupiditate ratione laboriosam alias dolore?
                    </p>
                    <div class="blog-actions">
                        <a href="#">Read more</a>
                    </div>
                </div>
                <div class="blog-img">
                    <img src="/Shop.Web\wwwroot/face-img1.png" alt="">
                </div>
                </div>
        </section>
    </div>

</body>
</html>