<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SITE NAME | WHAT'S NEW </title>
     <link rel="stylesheet" type="text/css" href="/Shop.Web\wwwroot\css\stylenew.css"/>
</head>
<body>
    <h2 class="sitename">SITE NAME</h2>
    <div class="container">
        <nav>
            
            <ul>
                
                <li><a href="#">WHAT'S NEW</a></li>
                <li><a href="#">WOMEN</a></li>
                <li><a href="#">MEN</a></li>
                <li><a href="#">CHILDREN</a></li>
                <li><a href="#">JEWELRY</a></li>
                
            </ul>
        </nav>
    </div>

    <div>
        <section class="blog">
            <div class="blog-container">
                <div class="blog-img">
                    <img src="/Shop.Web\wwwroot/whatsnew1.jpg"
                     width="900px"
                     height="650px">
                </div>
                <div class="blog-content">
                    <h3 class="blog-title">SPRING COLLECTION 2023</h3>
                    <p class="blog-text">
                        Check out our new products for the new season.
                    </p>
                    <div class="blog-actions">
                        <a href="#">Read more</a>
                    </div>
                </div>
                </div>
        </section>

        <section class="blog">
            <div class="blog-container">
               
                <div class="blog-content">
                    <h3 class="blog-title">SALE ON PRADA PRODUCTS</h3>
                    <p class="blog-text">
                        
                    </p>
                    <div class="blog-actions">
                        <a href="#">Read more</a>
                    </div>
                </div>
                <div class="blog-img">
                    <img src="~/whatsnew2.jpg" alt="">
                </div>
                </div>
        </section>
    </div>

</body>
</html>